on:
  pull_request:
    branches:
      - main

name: CI

jobs:
  ci:
    permissions:
      contents: read

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'

      - run: npm ci
      - run: npm run build
      - run: npm run test
