on:
  push:
    branches:
      - main

name: github-pages

jobs:
  deploy:
    permissions:
      contents: read
      id-token: write
      pages: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'

      - run: |
          npm ci
          rm -rf example/node_modules
          rm example/package-lock.json
          npm run build-example

      - uses: actions/upload-pages-artifact@v4
        with:
          path: storybook-site/

      - uses: actions/deploy-pages@v4
